<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 border-bottom">
    <div class="container">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50" fill="none" stroke="#000" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round">
                <!-- LETRA E -->
                <rect x="2" y="8" width="7" height="34" fill="black" />
                <rect x="11" y="8" width="9" height="8" fill="black" />

                <!-- TRAÇO DO MEIO DO E -->
                <rect x="11" y="22" width="6" height="6" fill="black" />
                <rect x="19" y="22" width="8" height="6" fill="black" />

                <rect x="11" y="34" width="9" height="8" fill="black" />

                <!-- AGENDA -->
                <rect x="29" y="8" width="41" height="34" rx="6" ry="6" fill="black" stroke="black" />

                <!-- AGENDA 2 -->
                <rect x="33" y="12" width="33" height="26" rx="4" ry="4" fill="white" stroke="black" />

                <!-- PARTE DE CIMA DA AGENDA -->
                <rect x="39" y="4" width="22" height="9" rx="2" ry="2" fill="white" stroke="black" />

                <!-- MEIO DA AGENDA -->
                <rect x="40" y="16" width="3" height="3" fill="black" />
                <rect x="40" y="24" width="3" height="3" fill="black" />
                <rect x="40" y="32" width="3" height="3" fill="black" />

                <rect x="48" y="16" width="3" height="3" fill="black" />
                <rect x="48" y="24" width="3" height="3" fill="black" />
                <rect x="48" y="32" width="3" height="3" fill="black" />

                <rect x="56" y="16" width="3" height="3" fill="black" />
                <rect x="56" y="24" width="3" height="3" fill="black" />
                <rect x="56" y="32" width="3" height="3" fill="black" />
            </svg>
        </span>
        <div class="d-flex order-lg-1 ms-auto">
            <a href="#" class="btn btn-outline-dark me-2">LOG IN</a>
            <a href="#" class="btn btn-dark">SIGN UP</a>
        </div>

        <button class="navbar-toggler order-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-lg-0" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Contatos</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-primary fw-semibold" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Despesas</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Compromissos</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">Categorias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
