@using E_Agenda.Domain.ExpenseModule
@using E_Agenda.WebApp.Models

@model RegisterExpenseViewModel

@{
    ViewBag.Title = "Create Expense";
    Layout = "_Layout";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Register Expense</h3>
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()


                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Description" class="control-label fs-5">Description:</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Date" class="control-label fs-5">Date:</label>
                        <input asp-for="Date" class="form-control" type="date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>


                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Amount" class="control-label fs-5">Amount:</label>
                        <input asp-for="Amount" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="PaymentMethod" class="control-label fs-5">Payment Method:</label>
                        <select asp-for="PaymentMethod" class="form-select" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>


                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="SelectedCategories" class="control-label fs-5">Categories:</label>
                        <select asp-for="SelectedCategories"
                                asp-items="(IEnumerable<SelectListItem>)ViewBag.Categories"
                                multiple="multiple"
                                class="form-select"></select>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/expenses" class="btn btn-link">Back to list</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
